.answer-card {
  position: relative;
  padding: var(--mantine-spacing-md);

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
  }

  }

.correct-state {
  cursor: not-allowed;
  opacity: 0.5;

  &[data-checked] {
    border-color: var(--mantine-color-green-6);
    opacity: 1;
    cursor: auto;
 }
}

.hover-card {
  transition: border-color 150ms ease;

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.wrong-state {
  &[data-checked] {
    border-color: var(--mantine-color-red-6);
 }
}

.matching-card {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}


.active-matching-card {
  background-color: var(--mantine-color-blue-light);
  border-color: var(--mantine-color-blue-6);
}
.correct-matching-card {
  background-color: var(--mantine-color-green-light);
  border-color: var(--mantine-color-green-6);
  cursor: auto;
}

.error-matching-card {
  background-color: var(--mantine-color-red-light);
  border-color: var(--mantine-color-red-6);
}

/* Defina esta animação (ex: em um arquivo CSS ou usando Mantine sx/styles) */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-6px); }
  40%, 80% { transform: translateX(6px); }
}

.shake-animation {
  animation: shake 0.4s ease-in-out 2; /* 0.4s de duração, repete 2 vezes */
}